/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
.scrollup {
  right: auto;
  left: 30px;
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
}
.align-left {
  text-align: right;
}
.align-right {
  text-align: left;
}
/*--------------------------------------------------------------
CSS for elements
--------------------------------------------------------------*/
.our-features > div:before {
  left: auto;
  right: 35px;
}
.our-features > div > .wpb_wrapper {
  padding-left: 90px;
  padding-right: 20px;
}
.our-features > div > .wpb_wrapper:before {
  border-left-width: 150px;
  border-right-width: 0;
  right: auto;
  left: -60px;
}
.our-features > div > .wpb_wrapper:after {
  right: auto;
  left: 0;
}
.our-features .thememove-icon {
  right: auto;
  left: 0;
}
.we-are ul li {
  padding-left: 0;
  padding-right: 20px;
}
.we-are ul li:before {
  left: auto;
  right: 0;
}
.we-are-layout3 .thememove-btn {
  margin-right: 0 !important;
  margin-left: 10px !important;
}
.our-services .wpb_column:hover .btn span:before {
  border-left-color: #eee !important;
}
.our-services .wpb_column:hover .btn span:after {
  border-right-color: #eee !important;
}
.our-services .thememove-btn {
  text-align: left;
  right: auto;
  left: 15px;
}
.our-services .thememove-btn span:before {
  border-left-width: 20px;
  border-right-width: 0;
  left: auto;
  right: -20px;
}
.our-services .thememove-btn span:after {
  border-left-width: 0;
  border-right-width: 20px;
  left: auto;
  right: 50px;
}
.our-services .thememove-btn i {
  left: auto;
  right: 0;
  margin-right: 0;
}
.our-services.style2 .thememove-icon:before,
.our-services.style3 .thememove-icon:before {
  border-left-width: 20px;
  border-right-width: 0;
  left: auto;
  right: -20px;
}
.our-services.style2 .thememove-icon:after,
.our-services.style3 .thememove-icon:after {
  border-left-width: 0;
  border-right-width: 20px;
  right: auto;
  left: -70px;
}
.our-services.style2 .thememove-icon i,
.our-services.style3 .thememove-icon i {
  left: auto;
  right: 0;
}
.our-services.list-layout > .wpb_column:first-child > .wpb_wrapper .wpb_row {
  left: auto;
  right: 0;
}
.our-services.list-layout > .wpb_column:first-child > .wpb_wrapper .wpb_row > .wpb_column > .wpb_wrapper {
  left: auto;
  right: 0;
}
.our-services.list-layout > .wpb_column:first-child > .wpb_wrapper .thememove-icon i {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -20px;
}
.our-services.list-layout > .wpb_column:first-child > .wpb_wrapper .thememove-icon:before {
  border-left-width: 20px;
  border-right-width: 0;
  left: auto;
  right: -40px;
}
.our-services.list-layout > .wpb_column:first-child > .wpb_wrapper .thememove-icon:after {
  border-left-width: 0;
  border-right-width: 20px;
  right: auto;
  left: -50px;
}
.provide-services:before {
  left: auto;
  right: 0;
}
.be-a-piece-of-us .thememove-icon:before {
  left: auto;
  right: -15px;
  border-left-width: 15px;
  border-right-width: 0;
}
.be-a-piece-of-us .thememove-icon:after {
  right: auto;
  left: -15px;
  border-left-width: 0;
  border-right-width: 15px;
}
.be-a-piece-of-us.style2 .wpb_column:nth-child(2):after {
  border-right-color: #111;
}
.price-table .wpb_text_column h3 strong {
  margin-left: 0;
  margin-right: 5px;
}
.price-table .thememove-btn:hover i {
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  -o-transform: translate(120px, 0);
}
.call-us .thememove-icon:before {
  left: auto;
  right: -20px;
}
.call-us .thememove-icon:after {
  right: auto;
  left: -10px;
  border-left-width: 0;
  border-right-width: 10px;
}
.hot-line .wpb_text_column:last-child {
  padding-left: 0;
  padding-right: 50px;
}
.left-menu .menu-item > a:after {
  content: '\f060';
  right: auto;
  left: 15px;
}
@media (min-width: 48rem) {
  .our-features > div > .wpb_wrapper {
    padding-left: 120px;
    padding-right: 0;
  }
  .we-are-layout2 .wpb_column:first-child {
    padding-right: 0;
    padding-left: 50px;
  }
}
@media (min-width: 62rem) {
  .our-features > div > .wpb_wrapper {
    padding-right: 20px;
    padding-left: 100px;
  }
  .our-features > div > .wpb_wrapper:before {
    right: auto;
    left: -50px;
  }
  .our-features > div > .wpb_wrapper:after {
    right: auto;
    left: -10px;
  }
  .our-features .thememove-icon {
    right: auto;
    left: 20px;
  }
  .our-features-layout2 .wpb_column:nth-child(2):before {
    left: auto;
    right: -41px;
    border-left: solid 90px rgba(17, 17, 17, 0.6);
    border-right: solid 1px transparent;
  }
  .our-features-layout2 .wpb_column:nth-child(2):after {
    right: auto;
    left: -725px;
  }
  .our-features-layout2 .wpb_column:nth-child(3):before {
    left: auto;
    right: -20px;
    border-left: 90px solid rgba(17, 17, 17, 0.6);
    border-right: 0 solid transparent;
  }
  .our-features-layout2 .wpb_column:nth-child(3):after {
    right: auto;
    left: -747px;
  }
  .we-are:before {
    left: auto;
    right: -80%;
  }
  .quick-quote .wpb_column:nth-child(2) > .wpb_wrapper:before {
    left: auto;
    right: -80px;
  }
  .quick-quote .wpb_column:nth-child(2) > .wpb_wrapper:after {
    right: auto;
    left: -80px;
  }
  .introducing-our-team .vc_custom_heading {
    right: auto;
    left: 150px;
  }
  .introducing-our-team .vc_custom_heading:before {
    left: auto;
    right: 0;
    border-left-width: 25px;
    border-right-width: 0;
  }
}
@media (min-width: 75rem) {
  .our-features > div > .wpb_wrapper {
    padding-left: 120px;
  }
  .our-features > div > .wpb_wrapper:before {
    border-left-width: 170px;
    border-right-width: 0;
    right: auto;
    left: -60px;
  }
  .our-features > div > .wpb_wrapper:after {
    right: auto;
    left: 0;
  }
  .our-features-layout2 .wpb_column:nth-child(2):after {
    right: auto;
    left: -660px;
  }
  .our-features-layout2 .wpb_column:nth-child(3):after {
    right: auto;
    left: -680px;
  }
  .we-are > .wpb_column:first-child:before,
  .we-are > .wpb_column:first-child:after {
    left: auto;
    right: -130px;
  }
  .we-are > .wpb_column:first-child:before {
    -webkit-transform: skew(30deg, 0);
    -moz-transform: skew(30deg, 0);
    -ms-transform: skew(30deg, 0);
    -o-transform: skew(30deg, 0);
  }
  .we-are > .wpb_column:first-child:after {
    -webkit-transform: skew(-30deg, 0);
    -moz-transform: skew(-30deg, 0);
    -ms-transform: skew(-30deg, 0);
    -o-transform: skew(-30deg, 0);
  }
  .our-services.style3 .vc_inner .wpb_column:first-child {
    padding-right: 15px;
    padding-left: 0;
  }
  .our-services.style3 .vc_inner .wpb_column:last-child {
    padding-left: 15px;
    padding-right: 0;
  }
  .intro.middle > .wpb_column:first-child:before {
    left: auto;
    right: -500px;
  }
  .intro.middle > .wpb_column:first-child:after {
    border-left: 0 solid transparent;
    border-right: 40px solid rgba(255, 255, 255, 0.1);
    right: auto;
    left: 45px;
  }
  .intro.middle > .wpb_column:last-child .thememove-icon {
    float: right;
    margin-right: 0;
    margin-left: 20px;
  }
  .quick-quote .wpb_column:nth-child(2) > .wpb_wrapper:after {
    border-left-width: 0;
    border-right-width: 150px;
    right: auto;
    left: -150px;
  }
  .be-a-piece-of-us:after {
    right: auto;
    left: 0;
  }
  .be-a-piece-of-us .wpb_column:nth-child(2):before {
    right: auto;
    left: 50px;
  }
  .be-a-piece-of-us .wpb_column:nth-child(2):after {
    border-left: 0 solid transparent;
    border-right: 60px solid #eee;
    right: auto;
    left: -10px;
  }
  .be-a-piece-of-us.style2:before {
    right: auto;
    left: 0;
  }
  .introducing-our-team .vc_custom_heading {
    right: auto;
    left: 240px;
  }
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.extra-info i {
  float: right;
}
.search-box i:before {
  left: auto;
  right: 0;
}
.search-box i:after {
  left: auto;
  right: 0;
}
.search-box .search-form {
  right: auto;
  left: 330px;
}
@media (max-width: 47.9375rem) {
  .search-box .search-form {
    right: auto;
    left: -15px;
  }
}
.contact-info i {
  margin-right: 0;
  margin-left: 10px;
}
@media (min-width: 48rem) {
  .contact-info:before {
    left: auto;
    right: -50%;
  }
  .contact-info li {
    padding-right: 20px !important;
    padding-left: 30px !important;
  }
  .contact-info li:last-child {
    padding-right: 0 !important;
    padding-left: 10px !important;
  }
  .contact-info li:last-child:before {
    right: auto;
    left: -20px;
  }
  .contact-info li:last-child:after {
    right: auto;
    left: -22px;
  }
  .contact-info li:before {
    border-right-color: rgba(255, 255, 255, 0.1);
    right: auto;
    left: 0;
  }
  .contact-info li:after {
    border-color: transparent;
    right: auto;
    left: -2px;
  }
}
/*--------------------------------------------------------------
Header 01
--------------------------------------------------------------*/
.header01 .extra-info i {
  margin-right: 0;
  margin-left: 20px;
}
@media (min-width: 48rem) {
  .header01 .site-top .top-left-menu {
    text-align: right;
  }
  .header01 .site-top .top-right-menu {
    text-align: left;
  }
}
@media (min-width: 75rem) {
  .header01 .site-branding:before {
    left: auto;
    right: -1000px;
  }
  .header01 .site-branding:after {
    border-left-width: 0;
    border-right-width: 40px;
    right: auto;
    left: -40px;
  }
  .header01 .extra-info .col-sm-5 {
    padding-left: 0;
    padding-right: 85px;
  }
  .header01 .site-header .social-menu {
    right: auto;
    left: 15%;
  }
  .header01 .site-header .social-menu:after {
    right: auto;
    left: -1000px;
  }
  .header01 .site-header .social-menu ul.menu:before,
  .header01 .site-header .social-menu ul.menu:after {
    border-left-width: 15px;
    border-right-width: 0;
  }
  .header01 .site-header .social-menu ul.menu:before {
    border-color: transparent;
    right: auto;
    left: 2px;
  }
  .header01 .site-header .social-menu ul.menu:after {
    border-left-color: rgba(255, 255, 255, 0.1);
    right: auto;
    left: 0;
  }
  .header01 .site-header .social-menu .menu-item {
    padding-right: 15px;
    padding-left: 30px;
  }
  .header01 .site-header .social-menu .menu-item:hover:before,
  .header01 .site-header .social-menu .menu-item:hover:after {
    left: auto;
    right: -15px;
  }
  .header01 .site-header .social-menu .menu-item:before,
  .header01 .site-header .social-menu .menu-item:after {
    border-left-width: 15px;
    border-right-width: 0;
  }
  .header01 .site-header .social-menu .menu-item:before {
    border-color: transparent;
    left: auto;
    right: -17px;
  }
  .header01 .site-header .social-menu .menu-item:after {
    border-left-color: rgba(255, 255, 255, 0.1);
    left: auto;
    right: -15px;
  }
}
/*--------------------------------------------------------------
Header 02
--------------------------------------------------------------*/
.header02 .extra-info i {
  margin-right: 0;
  margin-left: 20px;
}
.header02 .extra-info i:after {
  right: auto;
  left: -10px;
  border-left-width: 0;
  border-right-width: 10px;
}
.header02 .extra-info i + div:before {
  left: auto;
  right: -10px;
  border-left-width: 10px;
  border-right-width: 0;
}
.header02 .search-box {
  margin-left: 30px;
  margin-right: 0;
}
.header02 .search-box:before {
  left: auto;
  right: -12px;
  border-left-width: 12px;
  border-right-width: 0;
}
.header02 .search-box:after {
  right: auto;
  left: -12px;
  border-left-width: 0;
  border-right-width: 12px;
}
.header02 .mini-cart {
  margin-left: 0;
}
.header02 .mini-cart:before {
  left: auto;
  right: -12px;
  border-left-width: 12px;
  border-right-width: 0;
}
.header02 .mini-cart:after {
  right: auto;
  left: -12px;
  border-left-width: 0;
  border-right-width: 12px;
}
@media (min-width: 62rem) {
  .header02 .top-right-menu:before,
  .header02 .top-right-menu:after {
    border-left-width: 0;
    border-right-width: 10px;
  }
  .header02 .top-right-menu:before {
    right: auto;
    left: 0;
    border-left-color: transparent;
    border-right-color: #333;
  }
  .header02 .top-right-menu:after {
    right: auto;
    left: calc(-100% + 9px);
    border-left-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.1);
  }
  .header02 .top-right-menu li:first-child:before {
    border-left-color: transparent;
    border-right-color: #333;
  }
  .header02 .top-right-menu li:before,
  .header02 .top-right-menu li:after {
    border-left-width: 0;
    border-right-width: 10px;
  }
  .header02 .top-right-menu li:before {
    left: auto;
    right: 0;
    border-left-color: transparent;
    border-right-color: #333;
  }
  .header02 .top-right-menu li:after {
    left: auto;
    right: 1px;
    border-left-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 75rem) {
  .header02 .extra-info [class*="col"] {
    text-align: right;
  }
  .header02 #site-navigation .primary-menu:before {
    left: auto;
    right: -50%;
  }
  .header02 #site-navigation .menu:before {
    border-left-width: 0;
    border-right-width: 20px;
  }
  .header02 #site-navigation .menu:before {
    left: auto;
    right: 0;
  }
  .header02 #site-navigation .menu > ul > li:before,
  .header02 #site-navigation .menu > li:before,
  .header02 #site-navigation .menu > ul > li:after,
  .header02 #site-navigation .menu > li:after {
    border-left-width: 0;
    border-right-width: 20px;
  }
  .header02 #site-navigation .menu > ul > li:before,
  .header02 #site-navigation .menu > li:before {
    right: auto;
    left: -20px;
  }
  .header02 #site-navigation .menu > ul > li:after,
  .header02 #site-navigation .menu > li:after {
    right: auto;
    left: -21px;
    border-left-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.2);
  }
}
/*--------------------------------------------------------------
Header 03
--------------------------------------------------------------*/
@media (min-width: 75rem) {
  .header03 .site-branding:before {
    left: auto;
    right: -1000px;
  }
  .header03 .site-branding:after {
    border-left-width: 0;
    border-right-width: 40px;
    right: auto;
    left: -40px;
  }
  .header03 #site-navigation {
    padding-left: 0;
    padding-right: 40px;
  }
  .header03 #site-navigation .menu > ul > li.menu-item-has-children:after,
  .header03 #site-navigation .menu > li.menu-item-has-children:after {
    margin-left: 0;
    margin-right: 5px;
  }
}
/*--------------------------------------------
Footer
----------------------------------------------*/
.site-footer .widget-title:before {
  left: auto;
  right: 0;
}
.site-footer .widget-title:after {
  left: auto;
  right: 30px;
}
.site-footer .menu li a:before {
  margin-right: 0;
  margin-left: 10px;
}
.site-footer .social-menu {
  left: auto;
  right: 20%;
}
.site-footer .social-menu:after {
  left: auto;
  right: -1000px;
}
.site-footer .social-menu .menu:before,
.site-footer .social-menu .menu:after {
  left: auto;
  border-left-width: 0px;
  border-right-width: 15px;
}
.site-footer .social-menu .menu:before {
  border-left-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.1);
  right: 2px;
}
.site-footer .social-menu .menu:after {
  right: 0;
}
.site-footer .social-menu .menu .menu-item {
  padding-left: 12px;
  padding-right: 32px;
}
.site-footer .social-menu .menu .menu-item a:before {
  margin-right: inherit;
  margin-left: 0;
}
.site-footer .social-menu .menu .menu-item:hover:before,
.site-footer .social-menu .menu .menu-item:hover:after {
  right: auto;
  left: -15px;
}
.site-footer .social-menu .menu .menu-item:first-child {
  padding-left: 12px;
  padding-right: 35px;
}
.site-footer .social-menu .menu .menu-item:before,
.site-footer .social-menu .menu .menu-item:after {
  border-left-width: 0;
  border-right-width: 15px;
  right: auto;
}
.site-footer .social-menu .menu .menu-item:before {
  border-left-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.1);
  left: -17px;
}
.site-footer .social-menu .menu .menu-item:after {
  left: -15px;
}
/*--------------------------------------------
Navigation
----------------------------------------------*/
.top-menu .menu-item a:after {
  margin-left: 0;
  margin-right: 10px;
}
@media (min-width: 62rem) {
  .top-menu .menu-item {
    padding-right: 0;
    padding-left: 30px;
  }
}
.top-right-menu .menu li .sub-menu {
  left: auto;
  right: 0;
}
#site-navigation .sub-menu,
#site-navigation .children {
  left: auto;
  right: 0;
}
#site-navigation .sub-menu li.page_item_has_children > a:after,
#site-navigation .children li.page_item_has_children > a:after,
#site-navigation .sub-menu li.menu-item-has-children > a:after,
#site-navigation .children li.menu-item-has-children > a:after {
  content: '\f104';
  right: auto;
  left: 15px;
}
#site-navigation .sub-menu li:hover > .sub-menu,
#site-navigation .children li:hover > .sub-menu,
#site-navigation .sub-menu li:hover > .children,
#site-navigation .children li:hover > .children {
  left: auto;
  right: 100%;
}
#site-navigation .sub-menu li .sub-menu,
#site-navigation .children li .sub-menu,
#site-navigation .sub-menu li .children,
#site-navigation .children li .children {
  left: auto;
  right: 110%;
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 75rem) {
  #site-navigation .menu > ul > li.mega-menu .sub-menu i,
  #site-navigation .menu > li.mega-menu .sub-menu i {
    margin-right: 0;
    margin-left: 10px;
  }
}
/*--------------------------------------------
Sidebar
----------------------------------------------*/
.sidebar .widget_search span:before,
.wpb_widgetised_column .widget_search span:before {
  right: 0;
  left: 1px;
}
.sidebar ul li a:before,
.wpb_widgetised_column ul li a:before {
  content: '\f0ad';
  margin-right: 0;
  margin-left: 10px;
}
.sidebar .children,
.wpb_widgetised_column .children {
  padding-left: 0;
  padding-right: 15px;
  margin-right: 0;
  margin-left: inherit;
}
.sidebar .widget_tag_cloud .tagcloud a,
.wpb_widgetised_column .widget_tag_cloud .tagcloud a {
  margin-right: 0;
  margin-left: 2px;
}
/*--------------------------------------------
Mini Cart
----------------------------------------------*/
.mini-cart .mini-cart__button .mini-cart-icon:after {
  right: auto;
  left: -12px;
}
.mini-cart .widget_shopping_cart_content {
  right: auto;
  left: 0;
}
.mini-cart .widget_shopping_cart_content .cart_list li img {
  float: right !important;
  margin-left: 10px !important;
  margin-right: 0 !important;
}
.mini-cart .widget_shopping_cart_content .cart_list li .remove {
  float: left;
}
/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
.pagination.posts-pagination .page-numbers,
.pagination.loop-pagination .page-numbers {
  margin-right: 0;
  margin-left: 30px;
}
.pagination.posts-pagination .page-numbers:before,
.pagination.loop-pagination .page-numbers:before {
  border-right: 0 transparent;
  border-left: 11px #eee;
  border-style: solid;
  left: auto;
  right: -11px;
}
.pagination.posts-pagination .page-numbers:after,
.pagination.loop-pagination .page-numbers:after {
  border-left: 0 transparent;
  border-right: 11px #eee;
  border-style: solid;
  right: auto;
  left: -11px;
}
/*-----------------------------
Projects
------------------------------*/
.single-project .project-meta .meta-title {
  margin-right: 0;
  margin-left: 5px;
}
.archive.projects .project i {
  margin-left: 0;
  margin-right: 5px;
}
/*--------------------------------------------
Post
----------------------------------------------*/
.post .entry-meta {
  padding-left: 0;
  padding-right: 10px;
}
.post .entry-meta i {
  margin-right: 0;
  margin-left: 5px;
}
.post .entry-meta span {
  margin-right: 0;
  margin-left: 15px;
}
.post .read-more i {
  margin-left: 0;
  margin-right: 5px;
}
.post .read-more i:before {
  content: '\f100';
}
.post .post-share-buttons {
  text-align: right;
  padding-right: 0;
  padding-left: 15px;
}
.post span {
  margin-right: 0;
  margin-left: 30px;
}
.post span:after {
  border-left-width: 0;
  border-right-width: 15px;
  right: auto;
  left: -15px;
}
.post span .fa {
  margin-right: 0;
  margin-left: 15px;
}
.post span a:last-child .fa {
  margin-right: auto;
  margin-left: 0;
}
.post.post-list-item:after {
  left: auto;
  right: 15px;
}
.post.post-grid-item .post-share-buttons span {
  margin-right: 0;
  margin-left: 25px;
}
.post.post-grid-item .post-share-buttons i {
  margin-right: 0;
  margin-left: 8px;
}
.post.post-simple-item .entry-meta {
  left: auto;
  right: 0;
  padding-left: 0;
  padding-right: 15px;
}
.post.post-simple-item .entry-meta:after {
  right: auto;
  left: -10px;
  border-left-color: transparent;
  border-right-color: #fff;
}
.comments-area .comment .comment-author {
  padding-right: 0;
  padding-left: 20px;
}
.comments-area .metadata .comment-date,
.comments-area .metadata .comment-edit-link,
.comments-area .metadata .comment-reply-link {
  margin-right: 0;
  margin-left: 20px;
}
.comments-area .children {
  padding-left: 0;
  padding-right: 20px;
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 48rem) {
  .post .entry-meta:after {
    border-right-width: 10px;
    border-left-width: 0;
  }
  .post.post-full-item .entry-meta,
  .single .post .entry-meta {
    left: auto;
    right: 0;
    padding-right: 15px;
    padding-left: 0;
  }
  .post.post-full-item .entry-meta:after,
  .single .post .entry-meta:after {
    right: auto;
    left: -10px;
  }
  .post.post-list-item .post-thumb {
    padding-right: inherit;
    padding-left: 0;
  }
  .post.post-list-item .entry-meta {
    left: auto;
    right: 0;
    padding-right: 15px;
    padding-left: 0;
  }
  .post.post-list-item .entry-meta:after {
    right: auto;
    left: -10px;
  }
}
@media (min-width: 75rem) {
  .post .entry-meta span {
    margin-right: 0;
    margin-left: 40px;
  }
  .post .entry-meta span:last-child {
    margin-right: 0;
    margin-left: 20px;
  }
  .comments-area .comment .children {
    padding-left: 0;
    padding-right: 80px;
  }
}
/*--------------------------------------------
WooCommerce
----------------------------------------------*/
.woocommerce .woocommerce-ordering h4 {
  margin-right: 0;
  margin-left: 10px;
}
.woocommerce span.onsale {
  left: auto !important;
  right: 25px !important;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: right !important;
  margin-left: 10px !important;
  margin-right: 0 !important;
}
.woocommerce .products .product .button.loading:after {
  margin-left: 0;
  margin-right: 5px;
}
.woocommerce .products .product .button.added:after {
  margin-left: 0;
  margin-right: 5px;
}
.widget_product_search form.woocommerce-product-search:after {
  right: auto;
  left: 0;
}
.widget_product_search .search-field {
  padding-right: 0;
  padding-left: 40px;
}
.widget_shopping_cart_content ul.cart_list li a.remove {
  float: left;
}
.woocommerce.single .product .product-share-buttons span {
  margin-right: 0;
  margin-left: 5px;
}
.woocommerce.single .product .product-share-buttons a {
  margin-right: 0;
  margin-left: 5px;
}
.woocommerce-cart table.cart td.actions input[type='submit'] {
  margin-right: 0;
  margin-left: 10px;
}
.woocommerce-checkout form.woocommerce-checkout .woocommerce-shipping-fields {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.woocommerce-checkout .woocommerce-checkout div.payment_box {
  padding-left: 0;
  padding-right: 30px;
}
/*--------------------------------------------
Typo
----------------------------------------------*/
blockquote {
  border-left-width: 0;
  border-right-width: 10px;
}
.wrench-list li:before {
  margin-right: 0;
  margin-left: 10px;
}
/*--------------------------------------------
Breadcrumb
----------------------------------------------*/
.tm_bread_crumb li:first-child:before {
  margin-right: 0;
  margin-left: 8px;
}
/*--------------------------------------------
Mobile Menu
----------------------------------------------*/
.mobile-menu > ul li .sub-menu {
  margin-left: 0;
  margin-right: 1.3em;
}
/*--------------------------------------------
Essential Grid
----------------------------------------------*/
.renovation .esg-filters {
  text-align: right !important;
}
.renovation .esg-filters .esg-filterbutton {
  padding-left: 20px !important;
  padding-right: 35px !important;
}
.renovation .esg-filters .esg-filterbutton.selected:after,
.renovation .esg-filters .esg-filterbutton:hover:after {
  border-left-color: transparent;
  border-right-color: #fff;
}
.renovation .esg-filters .esg-filterbutton:before {
  right: auto;
  left: -17px;
  border-right: 16.5px solid rgba(255, 255, 255, 0.15);
  border-left: 0 solid transparent;
}
.renovation .esg-filters .esg-filterbutton:after {
  right: auto;
  left: -15px;
  border-left-width: 0;
  border-right-width: 15px;
}
.renovation .esg-navigationbutton:before {
  border-left-width: 12.5px;
  border-right-width: 0;
  left: auto;
  right: -12px;
}
.renovation .esg-navigationbutton:after {
  border-left-width: 0;
  border-right-width: 12.5px;
  right: auto;
  left: -12px;
}
.renovation .esg-pagination .esg-pagination-button {
  margin-right: 0 !important;
  margin-left: 30px !important;
}
.renovation .esg-pagination .esg-pagination-button:before {
  border-left: 11px solid #eee !important;
  border-right: 0 solid transparent !important;
  left: auto;
  right: -11px;
}
.renovation .esg-pagination .esg-pagination-button:after {
  right: auto;
  left: -11px;
  border-left: 0 solid transparent !important;
  border-right: 11px solid #eee !important;
}
.renovation#dark-filter .esg-filters .esg-filter-wrapper:before {
  left: auto;
  right: -500px;
}
.renovation#dark-filter .esg-filters .esg-filter-wrapper:after {
  right: auto;
  left: -1000px;
}
.eg-renovation-project-wrapper .eg-renovation-project-element-17:before {
  border-left-width: 12.5px;
  border-right-width: 0;
  left: auto;
  right: -12px;
}
.eg-renovation-project-wrapper .eg-renovation-project-element-17:after {
  border-left-width: 0;
  border-right-width: 12.5px;
  right: auto;
  left: -12px;
}
.eg-renovation-member-wrapper .social li:first-child {
  margin: 0 5px;
}
.eg-renovation-member-wrapper .social li:last-child {
  margin-left: 0;
}
/*--------------------------------------------
Testimonials
----------------------------------------------*/
.thememove-testimonials blockquote {
  padding-left: 20px;
  padding-right: 80px;
}
.thememove-testimonials blockquote:before {
  left: auto;
  right: 20px;
}
.thememove-testimonials blockquote:after {
  left: auto;
  right: 30px;
}
.thememove-testimonials .avatar {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
@media (min-width: 48rem) {
  .thememove-testimonials .testimonials-list .owl-controls {
    right: auto;
    left: 0;
  }
  .thememove-testimonials blockquote {
    padding-left: 40px;
    padding-right: 100px;
  }
  .thememove-testimonials blockquote:before {
    left: auto;
    right: 30px;
  }
}
/*--------------------------------------------
Button
----------------------------------------------*/
.btn i,
.thememove-btn i {
  margin-left: 0;
  margin-right: 5px;
}
/*--------------------------------------------
Recent Posts
----------------------------------------------*/
.recent-posts__item .recent-posts__thumb {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}
.recent-posts__item .post-meta span {
  margin-right: 0;
  margin-left: 10px;
}
/*--------------------------------------------
ThemeMove Blog
----------------------------------------------*/
.thememove-blog.meta-white-bg .entry-meta:after {
  border-right-color: #fff;
  border-left-color: transparent;
}
/*# sourceMappingURL=rtl.css.map */